<h3>Get embed code</h3>
<textarea class="share-embed-code" style="width: 600px; height: 40px;" onkeydown="if ((event.ctrlKey || event.metaKey) &amp;&amp; event.keyCode == 67) { yt.tracking.track('embedCodeCopied'); }">&lt;iframe width="600" height="300" src="<%= embed_station_url @station %>" frameborder="0"&gt;&lt;/iframe&gt;</textarea>
