<%
    classes = %w[map-canvas cluster small-12 large-12 columns]
    if !!defined? fullscreen and fullscreen
      classes.push("fullscreen")
    end
%>
<div class="<%= classes.join(' ') %>" id="map_canvas" data-lat="1" data-lon="1">
  <div class="controls">
    <button class="tiny" id="show-all-markers">Show all</button>
  </div>
</div>
