<h1>Not implemented yet!</h1>
<%= form_for @user, :url => assign_station_to_user_path(:username => @user.email) do |f| %>
	<% (0..((@stations.length-1)/5)).each do |i| %>
		<ul class="stations">
		<%	@stations[(5*i)..(@stations.length<(5*i+4) ? @stations.length : (5*i+4))].each do |station| %>
				<li><%= check_box_tag "user[station_ids][]", 
																	station.id, 
																 	@user.stations.include?(badge), {:id => station.name } %>
				<%= f.label station.name %></li>
				<% end %>
		</ul>

		<% end %>
 <%= f.submit 'Assign' %>
<%end %>
-->
