<h1>Wind stations</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if can? :manage, Station %>
      <th>Actions</th>
      <% end %>
      <th>Status</th>
    </tr>
  </thead>
  <tbody class="stations">
    <% @stations.each do |station| %>
      <tr class="station">
        <td><%= link_to station.name, station %></td>
        <% if can? :manage, Station %>
        <td class="admin-only">
          <ul class="actions button-group tiny">
            <li><%= link_to 'Edit', edit_station_path(station), class: 'button tiny' %></li>
            <li><%= link_to 'Delete', station, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert tiny' %></li>
          </ul>
        </td>
        <td>
            <% if station.down? %>
            <span class="label success">OK</span>
            <% else %>
            <span class="label alert">DOWN</span>
            <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<p><%= link_to 'New Station', new_station_path %></p>

