<div class="row">
  <h1>Latest measures for <%= @station.name.capitalize %></h1>
  <p>Latest measurement recieved at <%= time_date_hours_seconds(@measures.last.created_at) %></p>
  <%= render :partial => 'measures/table', object: @measures %>
  <%= will_paginate @measures %>
</div>