<% if @notifications.any? %>
<ul class="notifications">
    <% @notifications.each do |note| %>
    <li class="notification <%= note.event %>">
      <div class="message"><%= note.message %></div>
    </li>
    <% end %>
</ul>
<% end %>