<h1>Users</h1>
<% unless @users.empty? %>
<table>
<tr>
  <th>Name</th>
</tr>
<% @users.each do |user| %>
    <tr>
      <td><%= link_to user.nickname || user.email, user %></td>
    </tr>
<% end %>
</table>
<% end %>