<article class="user">

  <h1><%= @user.nickname || @user.email %></h1>

  <% if user_signed_in? %>
  <p>Email: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
  <% end %>

  <% if policy(@user).update? %>
  <p><%= link_to("Edit user", edit_user_path(@user)) %></p>
  <% end %>
</article>
