<section class="panel callout">
  <h1>Remote Wind</h1>
  <p>Wind monitoring for wind geeks</p>
</section>
<%= render :partial => 'stations/map', object: @stations %>
<%= render :partial => 'stations/table', object: @stations %>