<h1>Remote Wind</h1>
<p>Welcome to remote-wind. Here you can <%= link_to "view data", :controller => :measures, :action => :index %> from our wind
 stations or just see on a <%= link_to "map", stations_path %> where they are.</p>
<p>Enjoy! Feedback is most welcome, send a <script language="Javascript">n="info";a="@";d="yelloworb";document.write("<a href='mailto:"+n+a+d+".com'>mail to us</a>");
</script>!</p>