
.accordion dd > a {
  box-shadow: inset 0 -2px 4px -2px darken(#fff, 30%);

  &.active {
    box-shadow: 0;
  }
}

.accordion .content {
  border: 1px solid darken(#fff, 25%);
}

.chart-wrapper {
  overflow: scroll;
  // for devices that support css3 scroll properties
  overflow-x: scroll;
  overflow-y: hidden;
}