$primary-color: #0AC5F4;
$secondary-color: #e9e9e9;
$alert-color: #c60f13;
$success-color: #5da423;
$body-bg: #FFF;
$body-font-color: #222;

aside {
  background-color: #f5f5f5;
}


.panel.callout {
  background-image: url('/assets/images/cloud-deco.png') bottom left;
}