.hint {
  background-color: #EFF7FF;
  padding: 0.3rem 0.5rem;
  display: block;
  font-size: 0.8em;
}

label {
  font-weight: bolder;
}

.field_with_hint {

  margin-bottom: 0.4em;

  input, select {
    margin-bottom: 0.2em;
  }
}


