.map-canvas  {
  height: 350px;

  &.fullscreen {
    height: 100vh;
  }
}

.leaflet-station-icon.active {
  text {
    font-size: 14px;
    font-weight: bold;
  }
  svg {
    overflow: visible;
  }
}
