.stations_map {
  height: 360px;
  background-color: #778899;
  img{max-width: inherit;}
}

.map-canvas  {
  min-height: 100%;
}

#downunder {
  min-height: 200px;
}

.auth-providers {
  margin-bottom: em-calc(20);
  .auth-provider {
    background-image: url(image-path('openid-logos.png'));
    display: block;
    width: 100px;
    height: 60px;
    font-size: 0 !important;
    &.facebook {
      background-position: -1px -456px;
    }
  }
}

.flash-bar {
  .flashes {
    margin: 0;
  }
  .alert-box {
    margin: 0;
  }
}