//
// Typography Variables
//

$body-font-family: 'Lato', sans-serif;

// Control header font styles
$header-font-family: 'Lato', sans-serif;
$header-font-weight: 300;
// $header-font-style: normal;
// $header-font-color: #222;
// $header-line-height: 1.4;
// $header-top-margin: .2em;
// $header-bottom-margin: .5em;
// $header-text-rendering: optimizeLegibility;

// Control header font sizes

// $h1-font-size: em-calc(44);
// $h2-font-size: em-calc(37);
// $h3-font-size: em-calc(27);
// $h4-font-size: em-calc(23);
// $h5-font-size: em-calc(18);
// $h6-font-size: 1em;

// Control how subheaders are styled.

// $subheader-line-height: 1.4;
// $subheader-font-color: lighten($header-font-color, 30%);
// $subheader-font-weight: 300;
// $subheader-top-margin: .2em;
// $subheader-bottom-margin: .5em;

// A general <small> styling

// $small-font-size: 60%;
// $small-font-color: lighten($header-font-color, 30%);

// Style paragraphs

// $paragraph-font-family: inherit;
$paragraph-font-weight: 300;
// $paragraph-font-size: 1em;
// $paragraph-line-height: 1.6;
// $paragraph-margin-bottom: em-calc(20);
// $paragraph-aside-font-size: em-calc(14);
// $paragraph-aside-line-height: 1.35;
// $paragraph-aside-font-style: italic;
// $paragraph-text-rendering: optimizeLegibility;

// Style <code> tags

// $code-color: darken($alert-color, 15%);
// $code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
// $code-font-weight: bold;

// Style anchors

// $anchor-text-decoration: none;
// $anchor-font-color: $primary-color;
// $anchor-font-color-hover: darken($primary-color, 5%);

// Style the <hr> element

// $hr-border-width: 1px;
// $hr-border-style: solid;
// $hr-border-color: #ddd;
// $hr-margin: em-calc(20);

// Style lists

// $list-style-position: outside;
// $list-side-margin: 0;
// $list-nested-margin: em-calc(20);
// $definition-list-header-weight: bold;
// $definition-list-header-margin-bottom: .3em;
// $definition-list-margin-bottom: em-calc(12);

// Style blockquotes

// $blockquote-font-color: lighten($header-font-color, 30%);
// $blockquote-padding: em-calc(9, 20, 0, 19);
// $blockquote-border: 1px solid #ddd;
// $blockquote-cite-font-size: em-calc(13);
// $blockquote-cite-font-color: lighten($header-font-color, 20%);
// $blockquote-cite-link-color: $blockquote-cite-font-color;

// Acronym styles

// $acronym-underline: 1px dotted #ddd;

// Control padding and margin

// $microformat-padding: em-calc(10 12);
// $microformat-margin: em-calc(0 0 20 0);

// Control the border styles

// $microformat-border-width: 1px;
// $microformat-border-style: solid;
// $microformat-border-color: #ddd;

// Control full name font styles

// $microformat-fullname-font-weight: bold;
// $microformat-fullname-font-size: em-calc(15);

// Control the summary font styles

// $microformat-summary-font-weight: bold;

// Control abbr padding
// $microformat-abbr-padding: em-calc(0 1);

// Control abbr font styles

// $microformat-abbr-font-weight: bold;
// $microformat-abbr-font-decoration: none;

.panel.callout {
  h1 {
    font-size: 72px;
    text-transform: uppercase;
    margin: 45px 0 0;
  }
  p {
    font-size: 40px;
    text-transform: uppercase;
  }

  border: none;
}