<div class="station-chart" id="station_measures_chart" data-uri="<%= station_measures_url(@station) %>" data-path="<%= station_measures_path(@station) %>">
  <div class="y-axis"></div>
  <div class="scroll-window">
    <div class="scroll-contents">
      <div class="chart"></div>
      <div class="timeline">
        <div class="x-axis"></div>
      </div>
    </div>
  </div>
</div>