<table class="measures small-12 columns">
  <thead>
  <th>Time</th>
  <th>Direction</th>
  <th>Wind Speed</th>
  </thead>
  <tbody>
  <%= render partial: "measures/measure",
             collection: measures,
             locals: { station: station } if measures.any?
  %>
  </tbody>
</table>