<table class="measures">
  <thead>
      <th>Time</th>
      <th>Station</th>
      <th>Wind Speed</th>
      <th>Direction</th>
      <th>Max Wind Speed</th>
      <th>Min Wind Speed</th>
      <th>Temperature</th>
  </thead>
  <tbody>
  <% @measures.each do |measure| %>
    <%= render :partial => 'measures/measure', object: measure %>
  <% end %>
  </tbody>
</table>