<h1>Listing measures</h1>

<table>
  <tr>
    <th>Speed</th>
    <th>Direction</th>
    <th>When</th>
  </tr>

<% @measures.each do |measure| %>
  <tr>
    <td><%= number_with_precision(measure.speed/10, :precision => 1) %>m/s</td>
    <td><%= number_with_precision(measure.direction/10, :precision => 1) %>°</td>
    <td><%= time_ago_in_words(measure.created_at) %></td>
  </tr>
<% end %>
</table>

