<nav class="left-off-canvas-menu" id="left-off-canvas-menu">
  <ul class="all-stations off-canvas-list" data-url="<%= stations_path %>.json">
    <li><label><%= link_to "Stations", stations_path %></label></li>
    <%# append stations with ajax %>
  </ul>
  <%= yield :left_nav %>
</nav>