<!-- PLACEHOLDERS! -->
<nav class="top-bar hide-for-small" style="">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Remote Wind", root_path %></h1>
    </li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class=""><a href="#">Courses</a></li>
      <li class="has-dropdown not-click">
        <a href="#">Library</a>
        <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">Back</a></h5></li>
          <li class=""><a href="http://patterntap.com">Pattern Tap</a></li>
          <li class=""><a href="http://www.zurb.com/word">Word</a></li>
          <li class=""><a href="http://www.zurb.com/responsive">Responsive</a></li>
          <li class=""><a href="http://www.zurb.com/playground">Playground</a></li>
          <li class=""><a href="http://www.zurb.com/quips">Quips</a></li>
        </ul>
      </li>
      <li class="has-dropdown not-click">
        <a href="http://www.zurb.com/expo/community">Community</a>
        <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">Back</a></h5></li>
          <li class=""><a href="http://www.forrst.com">Forrst</a></li>
          <li class=""><a href="http://www.zurb.com/soapbox">Soapbox</a></li>
          <li class=""><a href="http://www.zurb.com/speak">Speak</a></li>
          <li class=""><a href="http://www.zurb.com/wired">Wired</a></li>
          <li class=""><a href="http://www.enrollapp.com">Enroll</a></li>
        </ul>
      </li>
      <li class="">
        <a href="http://www.zurb.com/jobs">Job Board</a>
      </li>
      <!--

            <li class="logged-in has-dropdown">
              <a href="#">
                <div class="avatar">
                  <img src="http://placehold.it/25x25">
                  User-Name Here
                </div>
              </a>
              <ul class="dropdown">
                <li><a href="#"><img src="http://placehold.it/20x20&text=N">Notable</a></li>
                <li><a href="#"><img src="http://placehold.it/20x20&text=S">Solidify</a></li>
                <li><a href="#"><img src="http://placehold.it/20x20&text=V">Verify</a></li>
                <li><a href="#"><img src="http://placehold.it/20x20&text=I">Influence</a></li>
                <li class="signout"><a href="#">Sign Out</a></li>
              </ul>
            </li>
      -->

    </ul>
  </section>
</nav>