<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "embed", :media => "all" %>
    <%= javascript_include_tag "embed" %>		
  </head>
  <body>
  	<%= yield %>
  </body>
</html>


